.nextvideo {
	&__heading {
		color: #a1a1a1;
		margin-left: 20px;
	}

	&__video {
		width: 30%;
		height: 90px;
		border-radius: 7px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		flex-shrink: 0;
	}

	&__title {
		font-family: AvenirBold;
		margin-bottom: 10px;
		width: 90%;
	}

	&__section {
		display: flex;
		// gap: 20px;
	}

	&__channel {
		margin-top: 0px;
	}
}
