@import "../../App.scss";
.video {
	@include mobile {
		&__size {
			width: 100%;
		}
	}

	@include tablet {
		&__section {
			background-color: black;
		}

		&__size {
			width: 90.8%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include desktop {
		&__size {
			width: 66%;
			height: 31.875rem;
		}
	}
}
