@import "./styles/partials/breakpoints";
@import "./styles/partials/colors";
@import "./styles/partials/fonts";
@import "./styles/partials/mixins";

body {
	margin: 0px;
}

.components {
	@include mobile {
		&__flex {
			display: block;
		}
	}
	@include tablet {
		&__flex {
			display: block;
		}
	}
	@include desktop {
		&__flex {
			display: flex;
			flex-direction: row;
			gap: 3px;
		}

		&__comments {
			width: 65vw;
		}

		&__nextvideo {
			width: 40vw;
		}
	}
}
